* {
    margin: none;
    padding: none;
    /* box-sizing: border-box; */
}

:root {
    --custom-size: 800px;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
}

.size-container {
    margin: 20px auto;
    width: fit-content;
}

.size-container input {
    width: 50px;
}

.size-container button {
    background-color: antiquewhite;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 4px 8px;
    transition: .3s;
}

.size-container button:hover {
    cursor: pointer;
    background-color: #ffe2bb;
    transition: .3s;
}

.grid-container {
    margin: 50px auto;
    border: 1px solid #000;
    width: var(--custom-size);
    height: var(--custom-size);
    display: flex;
    flex-wrap: wrap; 
    color: rgb(0, 0, 0);
}

.pixel {
    /* border: 1px solid #000; */
    font-size: .6rem;
}